<aside class="bg-zinc-800 h-full rounded-2xl text-white sticky top-0 animate-slide-in shadow-2xl">
    <div class="flex items-center justify-center" [class.px-0]="collapsed">
        <img *ngIf="!collapsed" class="w-40 mt-5 lg:flex hidden" src="assets/IMG/logo2.png" alt="">
        <img *ngIf="collapsed" class="p-5 ms-3" src="assets/IMG/logo_pequeño.png" alt="">
    </div>
    <div *ngIf="!collapsed" class="lg:hidden px-6 py-4 border-b border-zinc-700">
        <div class="flex items-center justify-between gap-3">
            <div class="flex items-center gap-3">
                <img src="https://www.pngkey.com/png/full/12-123249_teacher-teacher-login.png" alt="Avatar"
                    class="sm:w-12 sm:h-12 w-9 h-9 rounded-full">
                <div>
                    <p class="texto-pequeño font-medium">{{ nombreCompleto }}</p>
                    <p class="texto-chico text-zinc-400">{{ rolPrincipal }}</p>
                </div>
            </div>

            <button (click)="onClose()"
                class="w-8 h-8 flex items-center justify-center rounded-lg hover:bg-zinc-700 transition-colors cursor-pointer">
                <i class="fas fa-times texto-mediano"></i>
            </button>
        </div>
    </div>
    <nav class="p-6">
        <p class="texto-chico text-zinc-300 mb-4 uppercase tracking-wider">Menu</p>
        <ul class="space-y-3">
            <li *ngFor="let item of menuItems">
                <a *ngIf="item.visible" [routerLink]="item.route" routerLinkActive="bg-zinc-500/60"
                    [class.active-route]="isRouteActive(item.baseRoute)"
                    class="texto-pequeño sidebar flex items-center gap-4" [class.justify-center]="collapsed">
                    <i [class]="item.icon + ' w-5'"></i>
                    <span *ngIf="!collapsed" class="font-medium">{{ item.label }}</span>
                </a>
            </li>
        </ul>
    </nav>
    <div *ngIf="!collapsed" class="lg:hidden absolute bottom-6 flex w-full justify-center px-6">
        <button (click)="cerrarSesion()" class="btn btn-rojo w-full">
            <i class="fa-solid fa-right-from-bracket mx-2"></i> Cerrar Sesión
        </button>
    </div>
</aside>