<div class="mx-auto px-8 py-8">
    <div class="rounded-2xl border border-zinc-200 overflow-hidden shadow-lg">
        <div class="overflow-x-auto">
            <table class="w-full">
                <thead class="border-b border-zinc-200">
                    <tr class="bg-zinc-100 text-center">
                        <th class="texto-pequeño th-tabla">Nombre</th>
                        <th class="texto-pequeño th-tabla">Entrada</th>
                        <th class="texto-pequeño th-tabla">Estado</th>
                        <th class="texto-pequeño th-tabla">Historial</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-zinc-200">
                    <tr *ngFor="let asistencia of asistencias"
                        class="hover:bg-zinc-100 transition-colors duration-200 text-center">
                        <td class="texto-pequeño td1-tabla">
                            {{ asistencia.nombreUsuario }}
                        </td>
                        <td class="td2-tabla texto-pequeño">
                            {{ formatearHora(asistencia.horaEntrada) }}
                        </td>
                        <td class="py-3 px-3">
                            <div [class]="getEstadoClass(asistencia.estado) + ' texto-pequeño py-2 px-5'">
                                <i [class]="getEstadoIcon(asistencia.estado) + ' sm:mr-2 mr-0'"></i>
                                {{ asistencia.estado | titlecase }}
                            </div>
                        </td>
                        <td class="py-3 px-3">
                            <button class="btn btn-editar" (click)="onVerHistorial(asistencia.userId)">
                                <i class="fas fa-history mr-2"></i>
                                Ver historial
                            </button>
                        </td>
                    </tr>

                    <tr *ngIf="asistencias.length === 0">
                        <td colspan="4" class="py-8 text-center texto-pequeño text-zinc-500">
                            <i class="fas fa-inbox text-3xl mb-2"></i>
                            <p>No hay asistencias registradas</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>